//FOOTER SECTION

.bottom {
    height: 200px;
    background-color: #0C1524;

    .bottom-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-weight: 300;
        // padding-top: 100px;
        width: 75%;
        margin: 0 auto;
        padding-top: 65px;

        .bottom-nav {
            display: flex;
            flex-direction: row;

            a {
                color: white;
                padding-right: 40px;
                text-decoration: none;
            }
        }

        .social-media {

            i {
                color: white;
                margin-right: 15px;
            }
        }
    }
}