/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// UNIVERSAL STYLING

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}



// a {
//     text-decoration: none;
//     color: #66666E;

//     background:
//         linear-gradient(to bottom, #DA6426 0%,
//             #FFB973 100%);
//     background-position: 0 100%;
//     background-repeat: repeat-x;
//     background-size: 1px 1px;
//     text-decoration: none;
//     transition: all .4s;


//     &:hover {
//         background-size: 4px 50px;
//         color: black;
//         transform: translateY(10px);
//     }
// }

// HEADER

.landing {
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: black;
    background: linear-gradient(to right, rgba(81, 178, 207, 0.7) 0%, rgba(7, 126, 170, 0.8) 30%, rgba(2, 4, 5, 0.3) 50%, rgba(22, 43, 51, 0.6) 100%), url(../img/unsplash.jpg) no-repeat 50% 50%;
    background-size: cover;

    i {
        position: absolute;
        top: 87%;
        left: 50%;
        padding: 15px 20px;
        border: 1px solid white;
        border-radius: 50%;
        color: white;

    }
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    nav {
        margin-left: 300px;

        a {
            text-decoration: none;
            color: white;
            display: inline-block;
            font-size: 1.2rem;
            margin-right: 50px;
            margin-top: 20px;
            font-weight: 400;
            padding-bottom: 20px;

            &:hover {
                border-bottom: 1px solid white;

            }
        }
    }

}

.landing-top {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    text-align: left;

    h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }

    p {
        // line-height: 2;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    button {
        border: none;
        margin-top: 20px;
        padding: 16px 40px;
        background: whitesmoke;
        color: black;
        letter-spacing: 4px;
        font-weight: 700;
        align-self: flex-start;
        // transition: all .3s;

        &:hover {
            border: 1px solid white;
            background: transparent;
            color: white;
        }
    }
}

// loading css

.loader {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 120vh;
    background: whitesmoke;
    top: 0%;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        font-weight: bolder;
        letter-spacing: 5px;
    }

    .loader-svg {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

// destinations section
#destinations {
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    .destinations-text {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;
        top: 16%;
        color: black;

        h2 {
            font-size: 3rem;
            letter-spacing: 3px;
            margin-bottom: 15px;
            font-weight: 300;
            display: inline-block;
            padding-bottom: 9px;
            border-bottom: .5px solid black;
            width: fit-content;
        }

        p {
            font-size: 1.3rem;
            line-height: 2;
            letter-spacing: 2px;
            // font-weight: 400;
        }
    }

    .glide {
        width: 100%;
        height: 250px;
        position: relative;
        top: 20%;
        margin: 0 auto;
        text-align: center;

        .glide__slides {
            list-style: none;
            padding: 0;

            li {
                margin: 0 auto;
            }
        }

        .glide__slide {

            img {
                object-fit: cover;
                width: 100%;
                height: 300px;
                border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.548);
            }

            p {
                padding-top: 12px;
                padding-bottom: 10px;
                font-size: 1.3rem;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }

        .glide__arrows {
            width: 100%;
            // bottom: 30px;
            position: relative;
            padding-top: 20px;

        }

        .glide__arrow {
            color: white;
            background: rgba(81, 178, 207, 0.9);
            border-radius: 50%;
        }

        .glide__arrow--left {
            left: 0;
            border-radius: 5px;
        }

        .glide__arrow--right {
            right: 0;
            border-radius: 5px;
        }
    }

}



// ABOUT PAGE CSS

.about-landing {
    width: 100%;
    background: linear-gradient(to right, rgba(81, 178, 207, 0.7) 0%, rgba(7, 126, 170, 0.8) 30%, rgba(2, 4, 5, 0.3) 50%, rgba(22, 43, 51, 0.6) 100%), url(../img/woman-landing.jpg) no-repeat 50% 50%;
    background-size: cover;
    color: black;

    .about-title {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 12%;
        color: white;
        text-align: left;

        h1 {
            font-size: 3rem;
            font-weight: 300;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }

        p {
            width: 60%;
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 1.5;
        }
    }

    .button-text {
        text-align: center;
        position: relative;
        top: 81.5%;
    }
}


#about-img {
    // margin-top: 100px;
    width: 100%;
    height: 100vh;

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;

        .img-flip {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            // transform: rotateY(180deg);

            .img-front {
                background-color: #bbb;
                color: black;
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .img-back {
                background-color: dodgerblue;
                color: white;
                transform: rotateY(180deg);
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }
        }

        &:hover {
            transform: rotateY(180deg);
        }
    }
}